﻿<div class="panel panel-primary"
     ng-controller="ProductListCtrl as vm">

    <div class="panel-heading"
         style="font-size:large">
        Product List
    </div>

    <div class="panel-body">
        <table class="table">

            <thead>
                <tr class="alert alert-info">
                    <td>Product</td>
                    <td>Code</td>
                    <td>Available</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>{{ product.productName}}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate | date }}</td>
                    <td>{{ product.price | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>